@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root {
    /* ===== Colors ===== */
    --body-color: #292d31;
    --nav-color: #0dcaf0;
    --text-color: #ffffff;    
    --col-color: #212529;    
    --warna-1: #3e4043;    
}
body{
    color: #fff;
    background: var(--body-color);
}
.col{
    display: flex;
    justify-content: center;
    text-align: justify;  
}
.menu-atas{
    border-bottom: 2px solid var(--nav-color);
}
.image-post img{
    /* max-height: 100px; */
    width: 100%;
}
code,h5{
    margin: 10px 0;
}
.inpost{
    flex-direction: column;
}

.inpost img{
    width: 300px;
}
.post{
    display: flex;
    /* justify-content: left; */
    align-self: baseline;
    flex-wrap: wrap;
    /* background: #0dcaf0; */
}
.post a {
    text-decoration: none;
    color: #fff;
}
.isi-post{
    display: flex;
    max-width: 300px;
    /* background: #f00d0d; */
    /* padding: 10px; */
    /* height: 200px; */
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #0dcaf0;
    /* margin: 5px 10px;     */
    /* margin-right: 10px; */
    /* margin-top: 10px; */
    margin: 30px;
    /* flex: 2; */
    background: var(--body-color);
    
}
.isi-post:hover{
    box-shadow: #0dcaf0 0 1px 2px;
}
.isi-post:nth-child(odd){
    border-bottom: #f00dbf solid 2px;
}
.isi-post:nth-child(odd):hover{
    box-shadow: #f00dbf 0 1px 2px;
}

.post .title-post{
    background: var(--body-color);
    width: 100%;
    font-size: 20px;
    text-align: left;
    font-weight:  500;
    /* border-bottom: #0dcaf0 solid 2px; */
}
.readmore{
    background: var(--warna-1);
    padding: 3px 10px;
    border-radius: 3px;
    margin: 5px;
    /* border-bottom: var(--nav-color) solid 1px; */
}
.readmore img{
    height: 20px;
    margin: 2px;
}

/* ===post=== */
.isi-content{
    /* background: #676769; */
    width: 100%;
    /* padding: 5px; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}
.gambar{
    background: #0f181a;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.img img{
    height: 500px;
    margin: 0;
    width: 100%;
}
.desk{
    background: #0f181a;
    display: flex;
    align-items: flex-start;
}
.row .card{
    background: #212529;
    color: #eaeaea;
    padding: 10px;
    letter-spacing: .01em;
}
#navbarScroll ul li{
    /* background: #f00d0d; */
    border-right: #0dcaf0 solid 1px;
}
#navbarScroll ul{
    /* background: #0dcaf0; */
    margin-left: 20px;
    border-left: #0dcaf0 solid 1px;
}
.list-sidebar a{
    /* border-bottom: 1px solid #0dcaf0; */
    color: #eaeaea;
    text-decoration: none;
}
.list-sidebar li{
    /* background: #0dcaf0; */
    border-bottom: 1px solid #0dcaf0;
    padding: 3px;
    margin: 10px 0;
}
.sidebar{
    background: #292D31;
    border-left: 2px solid #0dcaf0;
    height: 100%;
    padding-left: 10px;
    padding: 1px 10px;
}
footer{
    /* background: #292D31; */
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
    padding: 5px;
    text-align: justify;
}
@media only screen and (max-width: 770px) {
    .sidebar{
        /* border: 2px solid #0df077; */
        font-size: 12px;
        /* background: #0dcaf0; */
        padding: 0;
        /* height: 100%; */
        /* display: none; */
    }
    
    .post-list {
        display: flex;
        background: #0dcaf0;
        padding: 10px;
        /* flex-wrap: wrap; */
        align-items: center;
        flex-direction: row;
    }
    .card img {
        /* height: 450px; */
    }

}
@media only screen and (max-width: 376px) {
   .sidebar{
    max-width: 270px;
   }
}