@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root {
    /* ===== Colors ===== */
    --body-color: #292d31;
    --nav-color: #0dcaf0;
    --text-color: #ffffff;    
    --col-color: #212529;    
    --warna-1: #3e4043;    
}
body{
    color: #fff;
    background: var(--body-color);
}
.col{
    display: flex;
    justify-content: center;
    text-align: justify;  
}
.menu-atas{
    border-bottom: 2px solid var(--nav-color);
}
.image-post img{
    /* max-height: 100px; */
    width: 100%;
}
code{
    margin: 10px 0;
}
h5 a{
    text-align: center;
    border: #0dcaf0 1px solid;
    padding: 3px;
    border-radius: 5px;
    margin-top: 3px;

}
a{
    text-align: left;
    display: flex;
}
.inpost{
    flex-direction: column;
}

.inpost img{
    width: 300px;
}
.post{
    display: flex;
    /* justify-content: left; */
    align-self: baseline;
    flex-wrap: wrap;
    /* background: #0dcaf0; */
}
.post a {
    text-decoration: none;
    color: #fff;
}
.isi-post{
    display: flex;
    max-width: 300px;
    /* background: #f00d0d; */
    /* padding: 10px; */
    /* height: 200px; */
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #0dcaf0;
    /* margin: 5px 10px;     */
    /* margin-right: 10px; */
    /* margin-top: 10px; */
    margin: 30px;
    /* flex: 2; */
    background: var(--body-color);
    
}
.isi-post:hover{
    box-shadow: #0dcaf0 0 1px 2px;
}
.isi-post:nth-child(odd){
    border-bottom: #f00dbf solid 2px;
}
.isi-post:nth-child(odd):hover{
    box-shadow: #f00dbf 0 1px 2px;
}

.post .title-post{
    background: var(--body-color);
    width: 100%;
    font-size: 20px;
    text-align: left;
    font-weight:  500;
    /* border-bottom: #0dcaf0 solid 2px; */
}
.readmore{
    background: var(--warna-1);
    padding: 3px 10px;
    border-radius: 3px;
    margin: 5px;
    /* border-bottom: var(--nav-color) solid 1px; */
}
.readmore img{
    height: 20px;
    margin: 2px;
}

/* ===post=== */
.isi-content{
    /* background: #676769; */
    width: 100%;
    /* padding: 5px; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}
.gambar{
    background: #0f181a;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.img img{
    height: 500px;
    margin: 0;
    width: 100%;
}
.desk{
    background: #0f181a;
    display: flex;
    align-items: flex-start;
}
.row .card{
    background: #212529;
    color: #eaeaea;
    padding: 10px;
    letter-spacing: .01em;
}
#navbarScroll ul li{
    /* background: #f00d0d; */
    border-right: #0dcaf0 solid 1px;
}
#navbarScroll ul{
    /* background: #0dcaf0; */
    margin-left: 20px;
    border-left: #0dcaf0 solid 1px;
}
.list-sidebar a{
    /* border-bottom: 1px solid #0dcaf0; */
    color: #eaeaea;
    text-decoration: none;
}
.list-sidebar li{
    /* background: #0dcaf0; */
    border-bottom: 1px solid #0dcaf0;
    padding: 3px;
    margin: 10px 0;
}
.sidebar{
    background: #292D31;
    border-left: 2px solid #0dcaf0;
    height: 100%;
    padding-left: 10px;
    padding: 1px 10px;
}
footer{
    /* background: #292D31; */
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
    padding: 5px;
    text-align: justify;
}
.post-dw{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}
.post-dw h5{
    text-align: center;
}
/* ppp */
.ppp-generate{
    /* background: #0dcaf0; */
    border: #0dcaf0 solid 1px;
    /* display: flex; */
}
.isi-data form{
    display: flex;
    flex-direction: column;
    margin: 5px;
    /* border: #0dcaf0 1px solid; */
}
.hasil-data{
    background: #140a29;
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.tab-copy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    /* background: #0074BA; */
}
.tab-copy h5{
    font-size: .8em;
    color: #0dcaf0;
}
.tab-copy button{
    background: #32204a;
    color: #0dcaf0;
    padding: 0 10px;
    height: 100%;
    border: none;
    border-left: 3px solid #0dcaf0;
    border-top-left-radius: 10px;

}
.hasil-generate{
    padding: 5px;
    background-color: rgb(11, 5, 23);
    width: 100%;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.angka{
    font-size: .6em;
}
.judul{
    font-size: 2em;
    /* background: #0dcaf0; */
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
}
.judul button{
    margin-left: 10px;
}
.mikrotik{
    background: #292D31;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.mikrotik a{
    text-decoration: none;
    color: #0dcaf0;
}
.foot{
    width: 100%;
    background: #140A29;
    padding: 5px 0;
    display: flex;
    font-size: 1.2em;
    justify-content: center;
}
.foot a{
    margin-left: 3px;
    text-decoration: none;
    color: #0dcaf0;
    font-weight: bold;
}
.rpo{
    border-bottom: #0dcaf0 solid 2px;
}
#sidebar{
    height: 100%;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
#myBtn img{
    height: 50px;
    transform: rotate(-90deg);
    opacity: .5;
}
#myBtn img:hover{
    opacity: 1;
}
#comment1,#comment2,#comment3{
    color: #8D65C5;
}
#dst-address1{
    color: chartreuse;
}
#to-address1,#pass1,#pass2{
    color: #0074BA;
}
#to-port1,#to-port2,#to-port3,#name1,#name2{
    color: #FCD53F;
}
#dst-port1,#dst-port2,#dst-port3,#user1,#localAddress{
    color: #F8312F;
}



@media only screen and (max-width: 770px) {
    .sidebar{
        /* border: 2px solid #0df077; */
        font-size: 12px;
        /* background: #0dcaf0; */
        padding: 0;
        /* height: 100%; */
        /* display: none; */
    }
    
    .post-list {
        display: flex;
        background: #0dcaf0;
        padding: 10px;
        /* flex-wrap: wrap; */
        align-items: center;
        flex-direction: row;
    }
    .card img {
        /* height: 450px; */
    }

}
@media only screen and (max-width: 426px) {
   .sidebar{
    width: 100%;
   }
}